.team_container{
margin: 10px;
padding: 5px;
min-width:320px;
background-color: lightgray;
text-align: center;
border-radius: 5px;
box-shadow: 3px 2px 2px rgb(51, 39, 39);
}
.team_container img{
    max-height:70px ;
    max-width: 100px;
    border-radius: 50%;
}
.team_container > h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
}
.team_container h6{
    font-size: .8rem;
    color: rgb(53, 41, 41);
}
.team_container .btn{
    background-color: rgb(31, 77, 5);
    color: rgb(240, 245, 241);
}
.team_container .btn:hover{
    background-color: rgb(70, 3, 44);
    color: darkgrey;
}