.team_container{
margin: 8px;
min-width:320px;
background-color: lightgray;
text-align: center;
border-radius: 5px;
box-shadow: 3px 2px 5px lightgray;
}
.team_container img{
    max-height:70px ;
    max-width: 100px;
    border-radius: 50%;
}
.team_container > h3{
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
}
.team_container h6{
    font-size: .8rem;
    color: rgb(53, 41, 41);
}
.team_container .btn{
    color: rgb(46, 10, 1);
    font-size: 1.2rem;
    font-weight: 500;
}